.THIS .custom-margin {
    margin-left: 4.1rem !important;;
}

.THIS .custom-background {
    background-color:white !important;;
}

.THIS .customColor {
    color: black;
}

.THIS .customLabelColor{
    color: rgb(84, 105, 141);
}
.THIS .darkBackGround{
    background-color:rgb(244, 246, 249) !important;
}

.THIS .container {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: rgb(0, 112, 210);
  float:left;
}
.THIS .iconname {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 30px;
}
.THIS .name {
  display: inline;
  text-align: center;
  
  font-size: 15px;
    
    
}
.THIS .customMargins{
    margin-right: -1rem;
    margin-left: -1rem;
}

.THIS.slds-button:active{
    border: 0px;
    border-style:hidden;
    /*outline:none;*/
    
}
.THIS .rightButton {
    border:0px;
}